---
import Layout from '../../layouts/Layout.astro';
import pt from '../../i18n/pt.js';

import "../../styles/global.css";

---

<Layout lang="pt">
  <h1>{pt.greeting}</h1>
  <p>{pt.description}</p>
</Layout>