---
import Layout from '../../layouts/Layout.astro';
import en from '../../i18n/en.js';
import "../../styles/global.css";
---

<Layout lang="en">
  <h1>{en.greeting}</h1>
  <p>{en.description}</p>
</Layout>