---
import Layout from '../layouts/Layout.astro';


import pt from '../i18n/pt.js';
import en from '../i18n/en.js';

const url = new URL(Astro.request.url);
const lang = url.searchParams.get('lang') || 'pt'; // padrão: pt
const t = lang === 'en' ? en : pt;
---


<Layout lang={lang}>
    <section>
        <p></p>
        <p></p>
        <p></p>
    </section>
</Layout>
