---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Portfolio/Home.astro";

// import pt from "../i18n/pt.js";
// import en from "../i18n/en.js";
// import es from "../i18n/es.js";

const { lang } = Astro.props;
// const t = lang === "en" ? en : lang === "es" ? es : pt;
---

<Layout lang={lang}>
    <!-- <Home lang={lang} /> -->
     <h1>teste de layout</h1>
</Layout>
